{% extends "base.html" %}

{% block content %}

<h2>Agregar Producto</h2>

<form method="POST" enctype="multipart/form-data" class="card p-4">
    {% csrf_token %}

    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Precio</label>
        <input type="number" name="precio" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Stock</label>
        <input type="number" name="stock" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Imagen</label>
        <input type="file" name="imagen" class="form-control">
    </div>

    <button class="btn btn-primary">Guardar</button>

</form>

{% endblock %}