{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Compras</h2>
        <a href="/productos/compras/nueva/" class="btn btn-success">+ Nueva Compra</a>
    </div>

    <div class="card shadow mt-3">
        <table class="table table-striped">

            <tr>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Total</th>
            </tr>

            {% for c in compras %}
            <tr>
                <td>{{ c.fecha }}</td>
                <td>{{ c.proveedor.nombre }}</td>
                <td>Gs. {{ c.total|intcomma }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>

{% endblock %}