{% extends "base.html" %}
{% load humanize %}
{% block content %}

<h2 class="mb-4 fw-bold">
    📊 Panel de Control
</h2>

<div class="row g-4">

    <!-- VENTAS HOY -->
    <div class="col-lg-3 col-md-6 col-12">
        <div class="card border-0 shadow-lg rounded-4 p-4 bg-success text-white">
            <h5>
                <i class="fas fa-money-bill-wave"></i>
                Ventas del día
            </h5>

            <h2 class="fw-bold">
                <span class="numero-py">
                    {{ ventas_hoy }}
                </span>
            </h2>
        </div>
    </div>

    <!-- VENTAS MES -->
    <div class="col-lg-3 col-md-6 col-12">
        <div class="card border-0 shadow-lg rounded-4 p-4 bg-info text-white">
            <h5>
                <i class="fas fa-calendar"></i>
                Ventas del mes
            </h5>

            <h2 class="fw-bold">
                <span class="numero-py">
                    {{ ventas_mes }}
                </span>
            </h2>
        </div>
    </div>

    <!-- GANANCIA -->
    <div class="col-lg-3 col-md-6 col-12">
        <div class="card border-0 shadow-lg rounded-4 p-4 bg-warning text-dark">
            <h5>
                <i class="fas fa-wallet"></i>
                Ganancia
            </h5>

            <h2 class="fw-bold">
                <span class="numero-py">
                    {{ ganancia_mes }}
                </span>
            </h2>
        </div>
    </div>


    <!-- PRODUCTOS -->
    <div class="col-lg-3 col-md-6 col-12">
        <div class="card border-0 shadow-lg rounded-4 p-4 bg-primary text-white">
            <h5>
                <i class="fas fa-box"></i>
                Productos
            </h5>

            <h2 class="fw-bold">
                {{ cantidad_productos }}
            </h2>
        </div>
    </div>

</div>

<div class="card mt-5 border-0 shadow rounded-4 p-4">

    <h4 class="mb-3">
        ⚠ Productos con bajo stock
    </h4>

    <ul class="list-group">

        {% for p in productos_bajo %}
        <li class="list-group-item d-flex justify-content-between align-items-center">

            {{ p.nombre }}

            <span class="badge bg-danger rounded-pill">
                {{ p.stock }}
            </span>

        </li>
        {% empty %}

        <li class="list-group-item text-success">
            ✅ Todo en stock
        </li>

        {% endfor %}

    </ul>

</div>
<div class="card mt-4 shadow border-0 rounded-4 p-4">

    <h4 class="mb-3">
        🔥 Productos más vendidos
    </h4>

    {% for p in top_productos %}
        <div class="d-flex justify-content-between border-bottom py-2">

            <span>
                {{ p.producto__nombre }}
            </span>

            <strong>
                {{ p.total }} vendidos
            </strong>

        </div>

    {% empty %}
        <p class="text-muted">
            No hay ventas todavía
        </p>
    {% endfor %}

</div>


<script>

    document.querySelectorAll(".numero-py")
    .forEach(numero => {
    
        let valor =
            numero.innerText
            .replace(/\D/g, "");
    
        numero.innerText =
            parseInt(valor || 0)
            .toLocaleString("es-PY")
            .replace(/,/g, ".");
    });
    
    </script>
{% endblock %}